﻿@model Kurier5.ViewModels.FinalVM
@{
    ViewBag.Title = "Final";
}

<div class="row">

    <div class="col-md-3  myBox">

        <h2>Nadawca:</h2>
        <br />
        <p>Imię i nazwisko: @Model.Senders.Last().NameSender @Model.Senders.Last().LastNameSender</p>
        <p>Adres: @Model.Senders.Last().CitySender, @Model.Senders.Last().AddressSender</p>
        <p>Telefon kontaktowy: +@Model.Senders.Last().PhoneSender</p>
       
    </div>
    <div class="col-md-3 col-lg-offset-1 myBox">

        <h2>Odbiorca:</h2>
        <br />
        <p>Imię i nazwisko: @Model.Recivers.Last().NameReciver @Model.Recivers.Last().LastNameReciver </p>
        <p>Adres: @Model.Recivers.Last().CityReciver, @Model.Recivers.Last().AddressReciver</p>
        <p>Telefon kontaktowy: +@Model.Recivers.Last().PhoneReciver</p>
        
    </div>
    <div class="col-md-3 col-lg-offset-1 myBox">
        <h2>Przesyłka:</h2>
        <br />

        <p>Typ: @Model.Packs.Last().Type</p>

        @{ if (Model.Packs.Last().Dimensions > 0)
            {
                <p>Wymiary: @Model.Packs.Last().Height x @Model.Packs.Last().Lenght x @Model.Packs.Last().Width </p>
            }
            else
            {
                @Html.ActionLink("Zamów Kuriera", "ThankYou", "Final", new { id = Model.Recivers.Last().IdReciver }, new { @class = "btnStart4" })
            }

            if (Model.Packs.Last().Dimensions > 125000)
            {
                <p>Kategoria: paczka duża, cena: 26,99</p>

                @Html.ActionLink("Zamów Kuriera", "ThankYou", "Final", new { id = Model.Recivers.Last().IdReciver }, new { @class = "btnStart4" })

            }

            if (Model.Packs.Last().Dimensions > 9000 && Model.Packs.Last().Dimensions < 125000)
            {
                <p>Kategoria: paczka średnia, cena: 15,99 </p>
                @Html.ActionLink("Zamów Kuriera", "ThankYou", "Final", new { id = Model.Recivers.Last().IdReciver }, new { @class = "btnStart4" })
            }

            if (Model.Packs.Last().Dimensions < 9000)
            {
                <p>Kategoria: paczka mała, cena: 11,99</p>
                @Html.ActionLink("Zamów Kuriera", "ThankYou", "Final", new { id = Model.Recivers.Last().IdReciver }, new { @class = "btnStart4" })
            }
        }

    </div>
</div>

