﻿
@{
    ViewBag.Title = "Onas";
}
<div class="col-md-5 col-lg-offset-1">
    <h1>O Nas</h1>
    <br />
    <p>Od 2001 roku zajmujemy się dostarczaniem paczek, nasza historia jest bardzo bogata.</p>
    <p>
        Pierwszą paczkę dostarczył osobiście założyciel firmy Dominik Litka 1 czerwca 2001 roku do
        firmy produkującej taśmy. Od tego się wszystko zaczęło, Pan Dominik został poproszony o dalszą współpracę
        co po którkim czasie zaowocowało założeniem spółki z.o.o. W niedalekiej przyszłości do zespołu dołączyli kurier Marek i Andrzej.
        Po latach prężnie rozwijajacej się działalności, prezes Litka postawił wszystko na jedną kartę.
    </p>
    <p>1 Marca 2019 roku firma zostaje sprzedana ukraińskiemu inwestorowi a sam prezes zostaje programistą.</p>
</div>
