﻿body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: url(brickwall_@2X.png) top left repeat;
    background-attachment: fixed;
    background-position: top left;
}

html {
    font-family: 'Muli', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Muli', sans-serif;
}

.myNav {
    width: 100%;
    height: 200px;
}

.ThreeLinks {
    color: black;
    display: inline;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
    margin-left: 40px;
    margin-right: 40px;
    border: solid black 1px;
    border-radius: 5%;
    transition: .33s;
}

    .ThreeLinks:hover {
        color: black;
        
        text-decoration: none;
        border-color: brown;
    }
    .ThreeLinks2 {
        float: left;
        border: none;
        font-family: 'Monoton', cursive;
        font-size:60px;
        color:black;
        margin-left: 300px;
        margin-top: 30px;
        transition:.5s;
    }
    .ThreeLinks2:hover{text-decoration:none; color:darkred;}

ul {
    margin: 0;
    padding: 0;
    margin-right: 15%;
    margin-top: 3%;
    float: right;
}

li {
    display: inline;
}

    Li:first-child {
        padding-left: 10px;
    }

.main {
    margin-top: 100px;
    width: 100%;
    height: 160px;
}

.threeBoxes {
    display: inline-flex;
}

    .threeBoxes:first-child {
        margin-left: 16%;
    }

.insideBox {
    height: 100px;
    border-top: black 1px solid;
    margin: 10px 50px;
    width: 250px;
    padding-top: 10px;
}

.af {
    display: block;
    padding: 5px 10px;
    margin: 3px 10px;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

    .af:hover {
        color: rgb(88, 0, 0)
    }

.btnStart {
    color: black;
    background-color: transparent;
    float: right;
    text-decoration: none;
    font-size: 18px;
    padding: 7px 13px;
    margin: 20px 0;
    border: solid black 1px;
    border-radius: 5%;
}

    .btnStart:hover {
        color: white;
        background-color: black;
        text-decoration: none;
        transition: .3s;
    }

.myTextBox {
    max-width: 600px;
    width: 100%;
    margin: 25px 5px 15px 40px;
    border: none;
    border-bottom: 1px solid black;
    height: 30px;
    transition: .5s;
    background-color: transparent;
}

    .myTextBox:focus {
        border: 2px solid black;
    }

h1 {
    font-weight: 700;
}

.btnStart2 {
    color: black;
    background-color: transparent;
    float: left;
    text-decoration: none;
    font-size: 18px;
    padding: 3px 50px;
    margin-top: 18px;
    margin-left: 40px;
    border: solid green 1px;
    border-radius: 5%;
    transition: .5s;
}
.btnStart2:hover {
    color: black;
    background-color: lawngreen;
    text-decoration: none;
   
}

.myBox {
    padding: 20px 20px 45px 30px;
    margin-top: 50px;
    background-color: lightgrey;
    
    
    border-radius: 15px 15px 15px 15px;
}


.big {
    font-size: 60px;
    font-weight: 800;
}


#business {
    display: none;
}

#business2 {
    display: none;
}

.myTextBoxShort {
    max-width: 200px;
    width: 50%;
    margin: 25px 5px 15px 40px;
    border: none;
    border-bottom: 1px solid black;
    height: 30px;
    transition: .5s;
    background-color: transparent;
}

.mySelect{
    border: black 1px solid;
    background-color: transparent;
    margin: 20px 40px;
    height: 30px;
    width: 300px;
}

.select-css {
    display: block;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 600;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 70%;
    max-width: 100%;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: #fff;
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

 
    .select-css:hover {
        border-color: #888;
    }

    .select-css:focus {
        border: 1px solid black;
       
        
        color: #222;
        outline: none;
    }

    .select-css option {
        font-weight: normal;
    }
.btnStart3 {
    color: black;
    background-color: transparent;
    text-decoration: none;
    font-size: 18px;
    padding: 7px 13px;
    margin: 20px 30px;
    border: solid black 1px;
    border-radius: 5%;
    transition: 0.25s;
    animation-name: myAni;
    animation-duration: 1.5s;
    animation-delay: 2s;
    animation-iteration-count:infinite;
}
@keyframes myAni{
    0%{background-color:transparent;}
    50% {background-color: forestgreen;}
    100% {
        background-color: transparent;
    }

}

.btnStart3:hover{
    background-color:black;
    color:white;
    animation: none;
}

.btnStart4 {
    color: black;
    background-color: transparent;
    float: left;
    text-decoration: none;
    font-size: 18px;
    padding: 3px 50px;
    margin-top: 18px;
    margin-left: 6px;
    border: solid green 1px;
    border-radius: 5%;
    transition: .5s;
}

    .btnStart4:hover {
        color: white;
        background-color: darkblue;
        text-decoration: none;
        border: solid 1px white;
    }