﻿@model Kurier5.Models.Sender
@{
    ViewBag.Title = "EditSender";
}

<div class="row">
    <div class="col-lg-7">
        <h1>Edytuj dane nadawcy</h1>
        <br />
        @using (Html.BeginForm("EditSender", "Summary", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(m => m.IdSender)

            <div class="formula">
                <div class="formulaRow">
                    @Html.TextBoxFor(m => m.NameSender, new { @class = "myTextBox", @placeholder = "Imię" })
                </div>
                <div class="formulaRow">
                    @Html.TextBoxFor(m => m.LastNameSender, new { @class = "myTextBox", @placeholder = "Nazwisko" })
                </div>
                <div class="formulaRow">
                    @Html.TextBoxFor(m => m.CitySender, new { @class = "myTextBox", @placeholder = "Miasto" })
                </div>
                <div class="formulaRow">
                    @Html.TextBoxFor(m => m.AddressSender, new { @class = "myTextBox", @placeholder = "Adres" })
                </div>
                <div class="formulaRow">
                    @Html.TextBoxFor(m => m.PhoneSender, new { @class = "myTextBox", @placeholder = "Telefon" })
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Dalej" class="btnStart" />
            </div>
        }


    </div>
    <div class="col-lg-5">

    </div>
</div>
