﻿@model Kurier5.ViewModels.SummaryVM

@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div style="width:400px; display:inline-block; float:left;">
        <h1>Czy dane się zgadzają?</h1>
    </div>
    <div>
        <form action="~/Package/NewPack">
            <button type="submit" class="btnStart3">
                tak, dalej &nbsp;
                <i class="fas fa-angle-right">
                </i>
            </button>
        </form>
    </div>
</div>
<div class="row">

    <div class="col-md-3 col-lg-offset-1 myBox">

        <h2>Nadawca:</h2>
        <br />
        <p>Imię i nazwisko: @Model.Senders.Last().NameSender @Model.Senders.Last().LastNameSender</p>
        <p>Adres: @Model.Senders.Last().CitySender, @Model.Senders.Last().AddressSender</p>
        <p>Telefon kontaktowy: +@Model.Senders.Last().PhoneSender</p>
        @Html.ActionLink("Edytuj", "EditSender", "Summary", new { id = Model.Senders.Last().IdSender }, new { @class = "btnStart2" })
    </div>
    <div class="col-md-3 col-lg-offset-1 myBox">

        <h2>Odbiorca:</h2>
        <br />
        <p>Imię i nazwisko: @Model.Recivers.Last().NameReciver @Model.Recivers.Last().LastNameReciver </p>
        <p>Adres: @Model.Recivers.Last().CityReciver, @Model.Recivers.Last().AddressReciver</p>
        <p>Telefon kontaktowy: +@Model.Recivers.Last().PhoneReciver</p>
        @Html.ActionLink("Edytuj", "EditReciver", "Summary", new { id = Model.Recivers.Last().IdReciver }, new { @class = "btnStart2" })
    </div>

</div>
