﻿@model Kurier5.Models.Reciver
@{
    ViewBag.Title = "AddReciver";
}


<div class="row">
    <div class="col-lg-7">
        <h1>Dodaj dane odbiorcy</h1>
        <br />
        @using (Html.BeginForm("AddReciver", "Post", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="formula">
                <div class="formulaRow">
                    @Html.TextBoxFor(m => m.NameReciver, new { @class = "myTextBox", @placeholder = "Imię" })
                </div>
                <div class="formulaRow">
                    @Html.TextBoxFor(m => m.LastNameReciver, new { @class = "myTextBox", @placeholder = "Nazwisko" })
                </div>
                <div class="formulaRow">
                    @Html.TextBoxFor(m => m.CityReciver, new { @class = "myTextBox", @placeholder = "Miasto" })
                </div>
                <div class="formulaRow">
                    @Html.TextBoxFor(m => m.AddressReciver, new { @class = "myTextBox", @placeholder = "Adres" })
                </div>
                <div class="formulaRow">
                    @Html.TextBoxFor(m => m.PhoneReciver, new { @class = "myTextBox", @placeholder = "Telefon" })
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btnStart">Dalej &nbsp;<i class="fas fa-angle-right"></i></button>
            </div>
        }


    </div>
    <div class="col-lg-5">

    </div>
</div>

