﻿@model Kurier5.Models.Sender
@{
    ViewBag.Title = "AddSender";
}

<div class="row">
    <div class="col-lg-7">
        <h1>Dodaj dane nadawcy</h1>
        <br />
        @using (Html.BeginForm("AddSender", "Post", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="formula">
                <div class="formulaRow">
                    @Html.TextBoxFor(m => m.NameSender, new { @class = "myTextBox", @placeholder = "Imię" })
                </div>
                <div class="formulaRow">
                    @Html.TextBoxFor(m => m.LastNameSender, new { @class = "myTextBox", @placeholder = "Nazwisko" })
                </div>
                <div class="formulaRow">
                    @Html.TextBoxFor(m => m.CitySender, new { @class = "myTextBox", @placeholder = "Miasto" })
                </div>
                <div class="formulaRow">
                    @Html.TextBoxFor(m => m.AddressSender, new { @class = "myTextBox", @placeholder = "Adres" })
                </div>
                <div class="formulaRow">
                    @Html.TextBoxFor(m => m.PhoneSender, new { @class = "myTextBox", @placeholder = "Telefon" })
                </div>
            </div>
            <div>
                <button type="submit" class="btnStart">Dalej &nbsp;<i class="fas fa-angle-right"></i></button>
            </div>
        }


    </div>
    <div class="col-lg-5">

    </div>
</div>

