﻿
@{
    ViewBag.Title = "Main";
}

<div class="row">
    <div class="col-lg-8 ">
        <p class="big">Dostarczymy Twoją paczkę w 24 godziny.</p>
        <h2>
            
            Szanujemy Twój czas, dlatego większość naszych paczek dostarczamy w mniej niż dobę.<br /> Pozostałe jeszcze szybciej.
        </h2>
         @Html.ActionLink("Zaczynamy", "AddSender", "Post", new { @class = "btnStart" })
    </div>
    <div class="col-lg-5">
       
    </div>
</div>

