﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Styles.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="myNav">
        <a href="~/Post/Main" class="ThreeLinks2">Easy Post</a>
        <ul>

            <li><a href="~/Post/AddSender" class="ThreeLinks">Nadaj</a></li>
            <li><a href="~/Final/Soon" class="ThreeLinks">Odbierz</a></li>
            <li><a href="~/Final/Soon" class="ThreeLinks">Śledź</a></li>
        </ul>
    </div>

    <div class="container body-content">
        @RenderBody()


    </div>
    <div class="main">
        <div class="threeBoxes">
            <div class="insideBox">
                <a href="~/Final/Onas" class="af">O nas</a>
                <a href="#" class="af">Baza</a>
                <a href="#" class="af">Praca</a>
            </div>
        </div>
        <div class="threeBoxes">
            <div class="insideBox">
                <a href="https://pl.wikipedia.org/wiki/KISS_(regu%C5%82a)" class="af">Kiss</a>
                <a href="https://pl.wikipedia.org/wiki/DRY" class="af">DRY</a>
            </div>
        </div>
        <div class="threeBoxes">
            <div class="insideBox">
                <a href="https://www.linkedin.com/in/dominik-litka-5900a4169/" class="af">Dominik Litka &nbsp<i class="fab fa-linkedin-in"></i></a>
                
                
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>